html {
  margin: 0 auto;
  padding: 0;
  width:100%;
  min-width: 320px;
  background: white;
}

body {
  margin: 0 auto;
  padding: 0;
  width:100%;
  background: white;
}

#root {
  margin: 0 auto;
  padding: 0;
  width:100%;
  background: white;
}